nav{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: aquamarine;
}

nav #left{
    background-color:bisque;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    width: 50%;

}

nav #right{
    background-color:rgb(226, 226, 127);
    display: flex;
    align-items:center;
    justify-content: center;
    width: 50%;
}
