nav{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
}

nav #left{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav #left>h1{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    /
}