nav{
    height: 60px;
    width: 85%;
    display: flex;
    align-items: center;
    background-color: aquamarine;
    margin-left: 100px;
}

nav #left{
    background-color:bisque;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    width: 50%;
}

nav #left>h1{
    width: 20%;
    background-color:rgb(156, 222, 85);
    font-weight: bold;
    font-size: 28px;
    display: flex;
    justify-content: flex-start;
}

nav #left span{
    font-size: 14px;
    position: relative;
    top:15px;
    right:16px;
}

nav #right{
    background-color:rgb(226, 226, 127);
    display: flex;
    align-items:center;
    justify-content: flex-end;
    width: 50%;
}
