nav{
    height: 60px;
    width: 85%;
    display: flex;
    align-items: center;
    margin-left: 100px;
    background-color:86B6F6
}

nav #left{
    display: flex;
    width: 50%;
}

nav #left>h1{
    padding: 0.5rem;
    width: 100%;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    right: 20px;
    
}

nav #left>h1 span{
    font-weight: bold;
    font-size: 26px;
    position: relative;
    right: 4px;
}

nav #right{
    display: flex;
    align-items:center;
    justify-content: flex-end;
    width: 50%;
}

nav #right button{
    width: 20%;
    height: 40px;
    padding: 0.5rem;
    background-color: aqua;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

nav #right #sign{
    background-color:blueviolet;
}
