#sbody{
    margin-top: 40px;
    background-color:transparent;
    height: 89vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

#sbody #sub{
    padding: 1px;
    height:250px;
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    background-color:#86B6F6;
    border-radius:10px;
    margin-left: 50px;
    margin-top: 50px;
    box-shadow: 0px 0px 5px #525CEB;
}

#sbody #sub:hover,
#sbody #sub:active{
    transform: scale(1.1);
}

#sbody #sub h1{
    font-size: 28px;
    color:black;
    background-color:transparent;
    text-shadow: 0px 0px 15px whitesmoke;
}
#sbody #sub a{
    text-decoration: none;
    height: 15%;
    width: 60%;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border:none;
    border-radius:15px;
    cursor: pointer;
    background-color:#525CEB;
    color:#B4D4FF;

}
#sbody #sub button{
    height: 15%;
    width: 60%;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border:none;
    border-radius:15px;
    cursor: pointer;
    background-color:#525CEB;
    color:#B4D4FF;
}

#sbody #sub button:hover,
#sbody #sub button:active{
    transform: scale(1.1);
}